body{
    width: 960px;
    margin: 0 auto;
}
h1{
    text-align: center;
}
#pantalla{
    border: groove 8px green;
    background: aqua;   
}
#boton{
    background-color: rgb(37, 187, 117);
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bolder;
    padding: 3px;
    border: solid 2px black;
}
#boton:hover{ 
    background-color: rgb(89, 211, 241);
    font-size: 22px;
    border: groove 4px rgb(41, 52, 206);
}